<body>
	<div class="right">
		
		<h2 class="roomName">{{$currentRoom.name.name}}</h2>
		
		<div class="messageBody" ng-repeat="messages in $currentRoom.getByRoomId">
			<h5 class="username">{{messages.username}}:</h5> 
			<p class="userMessages">{{messages.content}}</p>
			
		</div>
		<div>
			<input type="text" ng-model="$currentRoom.newMessage">
			
			<button type="button" class="btn btn-default" ng-click="$currentRoom.send($currentRoom.newMessage)">Send Message!</button>
		</div>
	</div>
</body> 