<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Enter a room name:</h3>
</div>
<div class="modal-body" id="modal-body">
	<input type="text" ng-model="$modal.newRoom.name">
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$modal.createRoom()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="$modal.closeModal()">Cancel</button>
</div>

<!--
<div ng-controller="ModalCtrl as modal" class="modal-create-room">
	
	<script type="text/ng-template" id="modal.html"></script>
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Create New Room</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<h1>Enter a room name</h1>
		
			<button type="button">Cancel</button>
			<button type="button">Create room</button>
		</div>
	
		
</div>-->
